* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.content {
  background-position: center;
  object-fit: cover;
  color: white;
  height: 100vh;
  width: 100vw;
  background-image: url(../src/assets/images/background-md.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.header {
  background: #251791;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoContent {
  display: flex;
  align-items: center;
}

.logoName {
  color: white;
  font-size: x-large;
  font-weight: 700;
}

.logoIcon {
  height: 45px;
}

.navBar {
  display: flex;
  gap: 30px;
}

.navItem {
  font-weight: 400;
}

.navAnchor, .logoAnchor, .githubLink {
  color: inherit;
  text-decoration: inherit;
}

.navAnchor:hover, .logoAnchor:hover {
  color: #33FDD8;
}

.navAnchor:active {
  color: #33FDD8;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHeader, .menuHeader, .contactHeader {
  font-size: xx-large;
  font-weight: 600;
  background: #111123;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.homeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  background-color:rgba(255, 255, 255, 0.8);
}

.homeContent:hover {
  background-color:rgba(255, 255, 255, 1);
}

.homeContentMsg {
  font-weight: 400;
  font-size: large;
  max-width: 400px;
  color: #111123;
  text-align: justify;
}

.chefHome {
  height: 350px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.menuHeaderMsg {
  font-size: large;
  font-weight: 400;
}

.menuFoods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menuFood {
  background-color: rgba(255, 255, 255, 0.8);
  color: #111123;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuFood:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.foodName {
  font-weight: 600;
}

.foodDescription {
  font-size: small;
  text-align: center;
}

.foodImage {
  height: 65px;
}

.contactContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color:#111123;
  border-radius: 10px;
  margin: 15px;
  padding: 25px;
  gap: 25px;
}

.contactContent:hover {
  background-color: rgba(255, 255, 255, 1);
}

.contactChefImg {
  height: 250px;
}

.contactData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactAddressImg {
  width: 250px;
  border-radius: 10px;
}

.footer {
  background: #111123;
  color: white;
  height: 60px;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.githubLink {
  display: flex;
  gap: 10px;
}

.githubImage {
  height: 25px;
  opacity: .80;
}

.githubImage:hover {
  opacity: 1;
}

.brandLogo {
  height: 25px;
}